---
layout: print_landscape
pagetitle: ACM/IEEE JCDL 2023 - Printable Conference Program/Schedule
pageurl: https://2023.jcdl.org/program/schedule-printable/
striking_image: https://2023.jcdl.org/assets/img/hero-bg.jpg
permalink: /program/schedule-printable/

---

<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>
{% include program-monday.html %}
<div class="pagebreak"> </div>

<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>

{% include program-tuesday.html %}
<div class="pagebreak"> </div>

<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>
{% include program-wednesday.html %}
<div class="pagebreak"> </div>

<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>
{% include program-thursday.html %}
<div class="pagebreak"> </div>

<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>
{% include program-friday.html %}

<div class="pagebreak"> </div>
<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>

<h2>Papers per session</h2>

<h3 id="session1">Papers for Session #1: Digital Libraries</h3>

{% include session1-papers.html %}

<h3 id="session2">Papers for Session #2: Scientometrics</h3>

{% include session2-papers.html %}

<h3 id="session3">Papers for Session #3: Web Archiving</h3>

{% include session3-papers.html %}

<h3 id="session4">Papers for Session #4: Information Retrieval</h3>

{% include session4-papers.html %}

<div class="pagebreak"> </div>
<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>

<h3 id="session5">Papers for Session #5: Knowledge Graphs and Knowledge Organization</h3>

{% include session5-papers.html %}

<h3 id="session6">Papers for Session #6: Digital Humanities and Teaching</h3>

{% include session6-papers.html %}

<h3 id="session7">Papers for Session #7: AI / ML / Entity Extraction</h3>

{% include session7-papers.html %}

<div class="pagebreak"> </div>
<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>

<h2>Panel Speakers</h2>


<h3 id="panel1">{% include panel1-title.html %}</h3>

<p>
{% include panel1-speakers.html %}
</p>

<h3 id="panel2">{% include panel2-title.html %}</h3>

<p>
{% include panel2-speakers.html %}
</p>

