---
layout: print_landscape
pagetitle: ACM/IEEE JCDL 2023 - Printable Conference Program/Schedule
pageurl: https://2023.jcdl.org/program/schedule-printable/
striking_image: https://2023.jcdl.org/assets/img/hero-bg.jpg
permalink: /program/schedule-printable/

---

{% include program-style.html %}

<div class="logoback header"><img src="{{ site.url }}/assets/img/jcdl23_roadrunner_white_single-logo.svg" width="140" height="42" alt="JCDL 2023 Logo" title="JCDL 2023 Logo"></div>
{% include program-monday.html %}
<div class="pagebreak"> </div>

{% include program-tuesday.html %}
<div class="pagebreak"> </div>


{% include program-wednesday.html %}
<div class="pagebreak"> </div>


{% include program-thursday.html %}
<div class="pagebreak"> </div>


{% include program-friday.html %}
<div class="pagebreak"> </div>
