---

layout: default
pagetitle: ACM/IEEE JCDL 2023 - Things To Do In Santa Fe
pagedescription: The ACM/IEEE-CS Joint Conference on Digital Libraries (JCDL) is a major international forum focusing on digital libraries and associated technical, practical, and social issues. This page provides information about Santa Fe.
pageurl: https://2023.jcdl.org/location/things-to-do-in-santa-fe/
striking_image: https://2023.jcdl.org/assets/img/hero-bg.jpg
permalink: /location/things-to-do-in-santa-fe/

---

<main id="main">

    <section id="cfp">

        <div class="container" style="margin-top: 90px;">


            <div class="section-header">
                <h1>Things To Do In Santa Fe</h1>
            </div>

            <div class="row">

                <div class="col-12">
                <p><a href="https://www.santafe.org/">Santa Fe</a> is unlike other cities in the United States. It has a long history, having been founded by Spanish settlers in 1610. This makes it the oldest state capital in the United States. The first thing many visitors notice is Santa Fe's <a href="https://en.wikipedia.org/wiki/Pueblo_Revival_architecture">Pueblo Revival</a> and <a href="https://en.wikipedia.org/wiki/Territorial_Revival_architecture">Territorial Revival</a> architectures which is mandated by city ordinance. Aside from its unique architecture, Santa Fe has much to offer visitors. We recommend visiting the <a href="https://www.santafe.org/">TOURISM Santa Fe</a> website for more information, but this page lists some things visitors can do in and around Santa Fe.</p>
                </div>

            </div>

            <div class="row">
                <h3>Contents</h3>

                <ol>
                    <li><a href="#restaurants">Restaurants</a></li>
                    <li><a href="#museums">Museums, Galleries, and Art Attractions</a></li>
                    <li><a href="#historic">Historic Sites &amp; Parks</a></li>
                    <li><a href="#more">More</a></li>
                </ol>
            </div>

            <hr>
            <hr>

            <div class="section-header">
                <h2 id="restaurants">Restaurants</h2>
            </div>

            <div class="row">

                <div class="col-lg-6">
                <p>Santa Fe has a large number of restaurants per capita. We have <a href="https://www.jamesbeard.org/awards">James Beard Award</a> winning chefs and a number of well-published and experience chefs as well. Below is a short list of restaurants to try while in Santa Fe:</p>
                

                <ul>
                    {% assign restaurants_sorted = site.data.restaurants | sort %}
                    {% for restaurant in restaurants_sorted %}
                    <li><a href="{{ restaurant[1] }}">{{ restaurant[0] }}</a></li>
                    {% endfor %}
                </ul>
                <hr>
                <ul>
                    <li><a href="https://www.foodnetwork.com/restaurants/photos/restaurant-guide-santa-fe">Food Network's &quot;Where to Eat in Santa Fe&quot;</a></li>
                    <li><a href="https://www.santafe.org/dine/">Fine dining guide for Santa Fe</a></li>
                    <li>And many, many more that we could not list for space...</li>
                </ul>

                </div>

                <div class="col-lg-6">

                    <figure class="figure">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Bobcat_Bite_burger.jpg/580px-Bobcat_Bite_burger.jpg" alt="" title="" class="img-thumbnail">
                        <figcaption class="figure-caption"><a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a>, Credit: <a href="https://commons.wikimedia.org/wiki/File:Bobcat_Bite_burger.jpg" rel="noreferrer nofollow">Marshall Astor</a></figcaption>
                    </figure>

                    <figure class="figure">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/La_Plazuela_Restaurant_-_Santa_Fe_NM.jpg/640px-La_Plazuela_Restaurant_-_Santa_Fe_NM.jpg" alt="" title="" class="img-thumbnail">
                        <figcaption class="figure-caption"><a href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a>, Credit: <a href="https://commons.wikimedia.org/wiki/File:La_Plazuela_Restaurant_-_Santa_Fe_NM.jpg" rel="noreferrer nofollow">jaygannett</a></figcaption>
                    </figure>
        

                </div>

                <!-- <div class="col-lg-6">

                    <figure class="figure">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Roasting_Hatch_Green_Chile_in_Santa_Fe.jpg/640px-Roasting_Hatch_Green_Chile_in_Santa_Fe.jpg" alt="" title="" class="img-thumbnail">
                        <figcaption class="figure-caption"><a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>, Credit: <a href="https://commons.wikimedia.org/wiki/File:Roasting_Hatch_Green_Chile_in_Santa_Fe.jpg" rel="noreferrer nofollow">Khlnmusa</a></figcaption>
                        </figure>
        

                </div> -->

            </div>

            <hr>
            <hr>

            <div class="section-header">
                <h2 id="museums">Museums, Galleries, and Art Attractions</h2>
            </div>

            <div class="row">

                <div class="col-lg-6">
                <p>Art is important to Santa Fe. There are many art galleries and art attractions in the city. Below is a short list.</p>

                <ul>
                    {% assign museums_sorted = site.data.art | sort %}
                    {% for art in museums_sorted %}
                    <li><a href="{{ art[1] }}">{{ art[0] }}</a></li>
                    {% endfor %}
                </ul>
                <hr>
                <ul>
                    <li><a href="https://www.santafe.org/things-to-do/visual-arts/galleries-and-studios/">and more art galleries...</a>
                    <li><a href="https://www.seegreatart.art/a-guide-to-art-galleries-in-santa-fe/">a guide to Santa Fe art galleries...</a></li>
                    <li><a href="https://www.seegreatart.art/a-guide-to-art-museums-in-santa-fe/">a guide to Santa Fe art museums...</a></li>
                    <li><a href="https://santafe.com/galleries/">more information on Santa Fe galleries...</a></li>
                    <li><a href="https://www.santafe.org/shopping/shopping-around-town/markets/art-markets/">information on Santa Fe art markets...</a></li>
                    <li><a href="https://www.santafeartexperience.com/">The definitive guide to galleries and museums in the arts district of Santa Fe</a></li>
                </ul>
    

                </div>

    
                    <div class="col-lg-6">
    
                        <figure class="figure">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/McLarry_Modern_Gallery_-_Canyon_Road%2C_Santa_Fe%2C_NM%2C_USA_-_panoramio_%281%29.jpg/640px-McLarry_Modern_Gallery_-_Canyon_Road%2C_Santa_Fe%2C_NM%2C_USA_-_panoramio_%281%29.jpg
                            " alt="" title="" class="img-thumbnail">
                            <figcaption class="figure-caption"><a href="https://creativecommons.org/licenses/by/3.0/deed.en">CC BY 3.0</a>, Credit: <a href="https://commons.wikimedia.org/wiki/File:McLarry_Modern_Gallery_-_Canyon_Road,_Santa_Fe,_NM,_USA_-_panoramio_(1).jpg" rel="noreferrer nofollow">MARELBU</a></figcaption>
                        </figure>
    
                        <figure class="figure">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Detail_from_%22Becoming_Human%22_sculpture_at_Meow_Wolf.jpg/640px-Detail_from_%22Becoming_Human%22_sculpture_at_Meow_Wolf.jpg" alt="" title="" class="img-thumbnail">
                            <figcaption class="figure-caption"><a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>, Credit: <a href="https://commons.wikimedia.org/wiki/File:Detail_from_%22Becoming_Human%22_sculpture_at_Meow_Wolf.jpg" rel="noreferrer nofollow">Parker Higgins</a></figcaption>
                        </figure>
            
    
                    </div>

                
            </div>

            <hr>
            <hr>

            <div class="row">

                <div class="section-header">
                    <h2 id="historic">Historic Sites and Parks</h2>
                </div>
                
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <p>Santa Fe has a lot of nature and history. Here are some of monuments, ruins, and history museums available: </p>
                    
                    <ul>
                        {% assign historic_sorted = site.data.historic | sort %}
                        {% for historic in historic_sorted %}
                        <li><a href="{{ historic[1] }}">{{ historic[0] }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <ul>
                        <li><a href="https://www.santafe.org/things-to-do/history-and-culture/historic-sites/">more information on historic sites...</a></li>
                    </ul>
    
                </div>

                <div class="col-lg-6">
    
                    <figure class="figure">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Santa_Fe_Caboose_%2831695530323%29.jpg/640px-Santa_Fe_Caboose_%2831695530323%29.jpg
                        " alt="" title="" class="img-thumbnail">
                        <figcaption class="figure-caption"><a href="https://creativecommons.org/licenses/by/2.0/deed.en">CC BY 2.0</a>, Credit: <a href="https://commons.wikimedia.org/wiki/File:Santa_Fe_Caboose_(31695530323).jpg" rel="noreferrer nofollow">Greg Gjerdingen</a></figcaption>
                    </figure>

                    <figure class="figure">
                        <img src="{{ site.url }}/assets/img/hero-bg.jpg" alt="" title="" class="img-thumbnail">
                    </figure>
        

                </div>
            </div>

            <hr>
            <hr>

            <div class="row">

                <div class="section-header">
                    <h2 id="more">More</h2>
                </div>
                
            </div>

            <div class="row mb-5" >
                <div class="col-lg-6">

                <p>We cannot list everything one can do in Santa Fe in one web page. There is too much. Check out the <a href="https://www.santafe.org/">TOURISM Santa Fe</a> website for more information. Here are some selected activities:</p>

                <ul>
                    <li><a href="https://www.santafe.org/outdoors/bike-trails/">Bike Trails</a></li>
                    <li><a href="https://www.santafe.org/things-to-do/casinos/">Casinos</a></li>
                    <li><a href="https://www.santafe.org/things-to-do/classes-and-workshops/">Classes and Workshops</a></li>
                    <li><a href="https://www.santafe.org/blog/post/hiking-trails/">Hiking Trails</a></li>
                    <li><a href="https://www.santafe.org/things-to-do/nightlife/">Nightlife</a></li>
                    <li><a href="https://www.santafe.org/things-to-do/family-activities/">Family Activities</a></li>
                    <li><a href="https://www.santafe.org/things-to-do/history-and-culture/native-american-culture/native-american-art/">Native American Art</a></li>
                    <li><a href="https://www.santafe.org/things-to-do/history-and-culture/native-american-culture/cultural-institutions/">Native American Cultural Institutions</a></li>
                    <li><a href="https://www.santafe.org/things-to-do/spa-and-wellness/">Spa &amp; Wellness</a></li>
                    <li><a href="https://assets.simpleviewinc.com/simpleview/image/upload/v1/clients/santafenm/6311_schedule_of_pueblo_celebrations_49658899-51ee-4192-8fd8-9dd41ca2cae7.pdf">Schedule of Pueblo Feast Days and Tribal Celebrations</a></li>
                    <li><a href="https://www.santafe.org/things-to-do/history-and-culture/native-american-culture/visiting-tribal-communities/">Visiting Tribal Communities</a></li>
                </ul>

                </div>

                

                <div class="col-lg-6">
    
                    <figure class="figure">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Enjoying_coffee_at_the_Santa_Fe_Plaza.jpg/640px-Enjoying_coffee_at_the_Santa_Fe_Plaza.jpg
                        " alt="" title="" class="img-thumbnail">
                        <figcaption class="figure-caption"><a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC SA 4.0</a>, Credit: <a href="https://commons.wikimedia.org/wiki/File:Enjoying_coffee_at_the_Santa_Fe_Plaza.jpg" rel="noreferrer nofollow">WikTalksmart</a></figcaption>
                    </figure>
        

                </div>

            </div>


        </div>


    </section>


</main>
