<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>{{ page.pagetitle }}</title>
    <meta content="{{ page.pagedescription }}" name="description">
    <meta content="digital libraries, ieee, acm, digital preservation" name="keywords">
    <meta name="twitter:card" content="summary_large_image" >
    <meta property="og:url" content="{{ page.pageurl }}">
    <meta property="og:title" content="{{ page.pagetitle }}">
    <meta name="twitter:title" content="{{ page.pagetitle }}">
    <meta property="og:description" content="{{ page.pagedescription }}">
    <meta name="twitter:description" content="{{ page.pagedescription }}">
    <meta property="og:image" content="{{ page.striking_image }}">
    <meta name="twitter:image" content="{{ page.striking_image }}">
    <meta property="og:type" content="website">
  
    <!-- Favicons -->
    <link href="{{ site.url }}/assets/img/favicon.png" rel="icon">
    <link href="{{ site.url }}/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{{ site.url }}/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{{ site.url }}/assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.8.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    * This template was licensed for this website by Shawn M. Jones for $19.00 on 2022-09-08.
    ======================================================== -->
  </head>
