<hr>
  <h2 id="wednesday">Wednesday, June 28, 2023</h2>

  <table class="schedule">
    <thead>
        <th>&nbsp;</th>
        <th class="room">Promenade</th>
        <th clas="mesa-ballroom">Mesa Ballroom</th>
        <th class="canyon-room">Canyon Room</th>
        <th class="room">Pecos Boardroom</th>
    </thead>
    <tbody>
    <tr>
        <td class="timecell">8:00am</td>
        <td colspan="5"></td>
    </tr>
    <tr>
        <td class="timecell">8:30am</td>
        <td rowspan="17" class="registration">8:30am &ndash; 5:00pm<br><br><strong>Registration</strong></td>
        <td colspan="3"></td>
    </tr>
    <tr>
      <td class="timecell">9:00am</td>
      <td rowspan="3" class="keynote">
        9:00am &ndash; 10:30am<br><br>
        <strong>Welcome Back</strong> and 
        <a href="/keynotes/#polka"><strong>Keynote #2: Jessica Polka</strong></a>
       </td>
       <td rowspan="3" colspan="2"></td>
    </tr>
    <tr>
      <td class="timecell">9:30am</td>
    </tr>
    <tr>
      <td class="timecell">10:00am</td>
    </tr>
    <tr>
        <td class="timecell">10:30am</td>
        <td class="break" colspan="2">
            10:30am &ndash; 11:00am<br><br>
            Break
        </td>
        <td rowspan="13"></td>
    </tr>
    <tr>
        <td class="timecell">11:00am</td>
        <td rowspan="3" class="align-top session">
            11:00am &ndash; 12:30pm<br><br>
            <strong>Session #5: Knowledge Graphs and Knowledge Organization</strong><br>
            <ul>
              <li>
                  Long Paper: <em>Enriching Simple Keyword Queries for Domain-Aware Narrative Retrieval</em> by 
                  Hermann Kroll, Christin Katharina Kreutz, Pascal Sackhoff and Wolf-Tilo Balke
              </li>
              <li><span class="nominee"><i class="bi bi-award"></i>Vannevar Bush Best Paper Award nominee</span> <br>
                  Long Paper: <em>SciKGTeX - A LaTeX Package to Semantically Annotate Contributions in Scientific Publications</em> by 
                  Christof Bless, Ildar Baimuratov and Oliver Karras
              </li>
              <li>
                  Short Paper: <em>Exploring Multiview Interactive Visualization for Chinese Historical Texts Using Knowledge Aggregation</em> by 
                  Chengxi Yan and Shaojian Li
              </li>
            </ul>
        </td>
        <td rowspan="3" class="align-top session">
          11:00am &ndash; 12:30pm<br><br>
          <strong>Session #6: Digital Humanities and Teaching</strong><br>
          <ul>
            <li>
                Long Paper: <em>Reading Lists Systems&apos; Pedagogical Features:  A Comparative Analysis</em> by 
                Ppnv Kumara, Annika Hinze, Nicholas Vanderschantz and Claire Timpany
            </li>
            <li><span class="nominee"><i class="bi bi-award"></i>Best Short Paper nominee</span><br>
                Short Paper: <em>A King&apos;s Counsel: A Network(ed) Approach; Digitizing the Privy Council Registers of Henry VIII, 1540-1547</em> by 
                Caitlin Burge
            </li>
            <li>
              Late Breaking/Dataset: <em>Yes but.. Can ChatGPT Identify Entities in Historical Documents?</em> by Carlos-Emiliano González-Gallardo, Emanuela Boros, Nancy Girdhar, Ahmed Hamdi, Jose Moreno and Antoine Doucet
            </li>
            <li>
                Short Paper: <em>FastCat Catalogues: Interactive Entity-based Exploratory Analysis of Archival Documents</em> by 
                Georgios Rinakakis, Kostas Petrakis, Yannis Tzitzikas and Pavlos Fafalios
            </li>
            <li>
                Short Paper: <em>MINE - A Text Analysis Service for Digital Humanities Scientists</em> by 
                Triet Ho Anh Doan, Sven Bingert and Ramin Yahyapour                    
            </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="timecell">11:30am</td>
    </tr>
    <tr>
      <td class="timecell">12:00pm</td>
    </tr>
    <tr>
        <td class="timecell">12:30pm</td>
        <td rowspan="2" colspan="2" class="lunch">12:30pm &ndash; 1:30pm<br><br><strong>LUNCH</strong></td>
    </tr>
    <tr>
      <td class="timecell">1:00pm</td>
    </tr>
    <tr>
        <td class="timecell">1:30pm</td>
        <td rowspan="3" class="session">
            1:30pm &ndash; 3:00pm<br><br>
            <strong>Panel:</strong> <em>
            Who can submit an excellent review for this manuscript in the next 30 days? – Peer Reviewing in the age of overload</em> speakers: Hamed Alhoori, Edward A. Fox, Ingo Frommholz, Haiming Liu, Corinna Coupette, Bastian A. Rieck, Tirthankar Ghosal, and Jian Wu.
        </td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td class="timecell">2:00pm</td>
    </tr>
    <tr>
      <td class="timecell">2:30pm</td>
    </tr>
    <tr>
      <td class="timecell">3:00pm</td>
      <td rowspan="4" class="session">3:00pm &ndash; 5:00pm<br><br><strong><a href="https://www.springer.com/journal/799">International Journal on Digital Libraries (IJDL)</a> Editorial Board Meeting</strong>
      This meeting is open to all JCDL attendees. The IJDL EB members will share an update on previously made EB decisions and recommendations. In addition, this will be an excellent opportunity to share with the JCDL conference attendees some details regarding the journal. In that context, any suggestions are more than welcomed.
      </td>
      <td rowspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td class="timecell">3:30pm</td>
    </tr>
    <tr>
      <td class="timecell">4:00pm</td>
    </tr>
    <tr>
      <td class="timecell">4:30pm</td>

    </tr>
    </tbody>
</table>

<br><br>

<table class="schedule">
    <thead>
        <th>&nbsp;</th>
        <th>La Fonda on the Plaza</th>
    </thead>
    <tbody>
    <tr>
        <td class="timecell">5:30pm +</td>
        <td class="keynote">
            5:30pm +<br><br>
            <strong><a href="/location/dinner/">Conference Dinner at La Fonda on the Plaza</a></strong>
        </td>
    </tr>
    </tbody>
</table>
