<hr>
<h2 id="friday">Friday, June 30, 2023</h2>

<table class="schedule">
    <thead>
        <th>&nbsp;</th>
        <th class="room">Promenade</th>
        <th clas="mesa-ballroom">Mesa Ballroom</th>
        <th class="room">Canyon #1</th>
        <th class="room">Canyon #2</th>
        <th class="room">Pecos Boardroom</th>
        <th class="room">Online</th>
    </thead>
    <tbody>
        <tr>
          <td class="timecell">7:00am</td>
          <td colspan="5"></td>
          <td class="session" rowspan="6">
            8:00am (CDT) &ndash; <br> 11:30am (CDT)<br><br>
            <strong>Workshop:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#iwdla" style="font-weight: bolder;">2<sup>nd</sup> International Workshop on Digital Language Archives<br>
            Part 1</a>
          </td>
        </tr>
        <tr>
            <td class="timecell">7:30am</td>
            <td colspan="5"></td>
          </tr>
  <tr>
      <td class="timecell">8:30am</td>
      <td rowspan="4" class="registration">8:30am &ndash; 10:30am<br><br><strong>Registration</strong></td>
      <td rowspan="17" colspan="2"></td>
      <td></td>
      <td rowspan="17"></td>
  </tr>
  <tr>
    <td class="timecell">9:00am</td>
    <td rowspan="7" class="session">
        9:00am &ndash; 12:30pm<br><br>
        <strong>Workshop:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#wadl" style="font-weight: bolder;">Web Archiving and Digital Libraries (WADL) 2023 Morning Session</a> 
    </td>
    
  </tr>
  <tr>
    <td class="timecell">9:30am</td>
  </tr>
  <tr>
    <td class="timecell">10:00am</td>
  </tr>
  <tr>
      <td class="timecell">10:30am</td>
      <td rowspan="3"></td>
      <td rowspan="13"></td>
  </tr>
  <tr>
      <td class="timecell">11:00am</td>
  </tr>
  <tr>
    <td class="timecell">11:30am</td>
  </tr>
  <tr>
    <td class="timecell">12:00pm</td>
    <td rowspan="10"></td>
  </tr>
  <tr>
        <td class="timecell">12:30pm</td>
        <td rowspan="2" class="lunch">12:30pm &ndash; 1:30pm<br><br><strong>LUNCH</strong></td>   
  </tr>
  <tr>
        <td class="timecell">1:00pm</td>
  </tr>
  <tr>
        <td class="timecell">1:30pm</td>
        
        <td rowspan="7" class="session">
            1:30am &ndash; 5:00pm<br><br>
            <strong>Workshop:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#wadl" style="font-weight: bolder;">Web Archiving and Digital Libraries (WADL) 2023 Afternoon Session</a>
        </td>
  </tr>
  <tr>
        <td class="timecell">2:00pm</td>
  </tr>
  <tr>
        <td class="timecell">2:30pm</td>
  </tr>
  <tr>
    <td class="timecell">3:00pm</td>
  </tr>
  <tr>
    <td class="timecell">3:30pm</td>
  </tr>
  <tr>
    <td class="timecell">4:00pm</td>
  </tr>
  <tr>
    <td class="timecell">4:30pm</td>
  </tr>
  <tr>
    <td class="timecell">5:00pm</td>
    <td colspan="5" rowspan="6"></td>
    <td class="session" rowspan="6">
      6:00pm (CDT) &ndash; <br> 9:00pm (CDT)<br><br>
      <strong>Workshop:</strong>  <a href="https://2023.jcdl.org/program/workshops-tutorials/#iwdla" style="font-weight: bolder;">2<sup>nd</sup> International Workshop on Digital Language Archives<br>
      Part 2</a>
    </td>
  </tr>
  <tr>
    <td class="timecell">5:30pm</td>
  </tr>
  <tr>
    <td class="timecell">6:00pm</td>
  </tr>
  <tr>
    <td class="timecell">6:30pm</td>
  </tr>
  <tr>
    <td class="timecell">7:00pm</td>
  </tr>
  <tr>
    <td class="timecell">7:30pm</td>
  </tr>
  </tbody>  
</table>
