<hr>

<h2 id="monday">Monday, June 26, 2023</h2>

<table class="schedule">
    <thead>
        <th>&nbsp;</th>
        <th class="room">Promenade</th>
        <th class="room">Mesa #1</th>
        <th class="room">Mesa #2</th>
        <th class="room">Mesa #3</th>
        <th class="room">Canyon #1</th>
        <th class="room">Canyon #2</th>
        <th class="room">Pecos Boardroom</th>
        <th class="room">Online</th>
    </thead>
    <tbody>
      <tr>
        <td class="timecell">8:00am</td>
        <td colspan="8"></td>
      </tr>
      <tr>
        <td class="timecell">8:30am</td>
        <td rowspan="11" class="registration">8:30am &ndash; 2:00pm<br><br><strong>Registration</strong></td>
        <td colspan="6"></td>
        <td rowspan="9"></td>
      </tr>
      <tr>
        <td class="timecell">9:00am</td>
        <td rowspan="6" class="session">9:00am &ndash; 12:00pm<br><br><strong>Tutorial:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#ark" style="font-weight: bolder;">Up and running with ARK persistable identifiers</a></td>
        <td rowspan="6" class="session">9:00am &ndash; 12:00pm<br><br><strong>Workshop:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#fair" style="font-weight: bolder;">FAIR Data for Large Research Facilities</a></td>
        <td rowspan="6" class="session">9:00am &ndash; 12:00pm<br><br><strong>Tutorial:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#tutorialdspace" style="font-weight: bolder;">From Digital Records to Digital Cultural Landscapes: Beyond Digital Library boundaries with DSpace</a></td>
        <td rowspan="14" class="doctoral-consortium">9:00am &ndash; 4:00pm<br><br><strong>Doctoral Consortium</strong></td>
        <td rowspan="14" class="session">9:00am &ndash; 4:00pm<br><br><strong>Workshop:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#eeke" style="font-weight: bolder;">Joint Workshop of the 4th Extraction and Evaluation of Knowledge Entities from Scientific Documents (EEKE2023) and the 3rd AI + Informetrics (AII2023)</a></td>
        <td rowspan="16"></td>
        
      </tr>
      <tr>
        <td class="timecell">9:30am</td>
      </tr>
      <tr>
        <td class="timecell">10:00am</td>
      </tr>
      <tr>
        <td class="timecell">10:30am</td>
      </tr>
      <tr>
        <td class="timecell">11:00am</td>
      </tr>
      <tr>
        <td class="timecell">11:30am</td>
      </tr>
      <tr>
        <td class="timecell">12:00pm</td>
        <td rowspan="2" colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="timecell">12:30pm</td>
      </tr>
      <tr>
        <td class="timecell">1:00pm</td>
        <td rowspan="6" class="session">1:00pm &ndash; 4:00pm<br><br><strong>Workshop:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#piufap" style="font-weight: bolder;">Persistent Identifiers &amp; US Federal Agency Policies</a></td>
        <td rowspan="6" colspan="2"></td>
        <td rowspan="6" class="session">1:00pm &ndash; 4:00pm<br><br><strong>Tutorial:</strong> <a href="https://2023.jcdl.org/program/workshops-tutorials/#solid" style="font-weight: bolder;">The Solid Protocol and Its Potential for Open Science</a></td>
        
      </tr>
      <tr>
        <td class="timecell">1:30pm</td>
        
      </tr>
      <tr>
        <td class="timecell">2:00pm</td>
        <td rowspan="4"></td>
      </tr>
      <tr>
        <td class="timecell">2:30pm</td>
      </tr>
      <tr>
        <td class="timecell">3:00pm</td>
      </tr>
      <tr>
        <td class="timecell">3:30pm</td>
      </tr>
      <tr>
        <td class="timecell">4:00pm</td>
        <td rowspan="2" colspan="6"></td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td class="timecell">4:30pm</td>
        
      </tr>
    </tbody>
</table>
