<hr>
<h2 id="thursday">Thursday, June 29, 2023</h2>

<table class="schedule">
    <thead>
        <th>&nbsp;</th>
        <th class="room">Promenade</th>
        <th clas="mesa-ballroom">Mesa Ballroom</th>
        <th class="room">Canyon #1</th>
        <th class="room">Canyon #2</th>
        <th class="room">Pecos Boardroom</th>
    </thead>
    <tbody>
  <tr>
    <td class="timecell">8:00am</td>
    <td colspan="6"></td>
    <!-- <td rowspan="14" style="border: 0px;"></td>
    <td rowspan="14" style="border: 0px;"></td>
    <td rowspan="14" style="border: 0px;"></td> -->
    
  </tr>
  <tr>
      <td class="timecell">8:30am</td>
    <td rowspan="15" class="registration">8:30am &ndash; 4:00pm<br><br><strong>Registration</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class="timecell">9:00am</td>
    <td rowspan="3" class="session">9:00am &ndash; 10:30am<br><br> Opening and <strong>Panel: </strong><em>AI and Public Archives: Collaborative Leadership for Responsible Adoption</em>{% if page.permalink == '/program/schedule/' %} Speakers: William Ingram, Rebecca Dikow, Abigail Potter, and Jill Reilly{% endif %}
    </td>
    <td rowspan="12" colspan="3"></td>
  </tr>
  <tr>
    <td class="timecell">9:30am</td>
  </tr>
  <tr>
    <td class="timecell">10:00am</td>
  </tr>
  <tr>
      <td class="timecell">10:30am</td>
    <td class="break">10:30am &ndash; 11:00am<br><br>Break</td>
  </tr>
  <tr>
      <td class="timecell">11:00am</td>
      <td rowspan="3" class="align-top session">
          11:00am &ndash; 12:30pm<br><br>
          <strong>Session #7: AI / ML / Entity Extraction</strong><br>
          {% if page.permalink == '/program/schedule/' %}
          {% include session7-papers.html %}
          {% endif %}
      </td>
  </tr>
  <tr>
    <td class="timecell">11:30am</td>
  </tr>
  <tr>
     <td class="timecell">12:00pm</td>
  </tr>
  <tr>
        <td class="timecell">12:30pm</td>
        <td rowspan="2" class="lunch">12:30pm &ndash; 1:30pm<br><br><strong>LUNCH</strong></td>
  </tr>
  <tr>
        <td class="timecell">1:00pm</td>
  </tr>
  <tr>
        <td class="timecell">1:30pm</td>
        <td rowspan="2"class="keynote">
            1:30pm &ndash; 2:30pm<br><br>
            <a href="/keynotes/#lamdan"><strong>Keynote #3: Sarah Lamdan</strong></a>
        </td>
  </tr>
  <tr>
        <td class="timecell">2:00pm</td>
  </tr>
  <tr>
        <td class="timecell">2:30pm</td>
        <td class="session">2:30pm &ndash; 3:00pm<br><br><strong>Closing</strong></td>
  </tr>
  <tr>
    <td class="timecell">3:00pm</td>
    <td rowspan="2" colspan="2"></td>
    <td rowspan="5" class="session">
      3:00pm &ndash; 5:30pm<br><br>
      <strong>Workshop:</strong>
      <a href="https://2023.jcdl.org/program/workshops-tutorials/#imsc" style="font-weight: bolder;">Innovation Measurement for Scientific Communication (IMSC) in the Era of Big Data</a>
    </td>
    <td rowspan="4" class="session">
      3:00pm &ndash; 5:00pm<br><br>
      <strong>JCDL Steering Committee meeting</strong>
    </td>

  </tr>
  <tr>
    <td class="timecell">3:30pm</td>
  </tr>
  <tr>
    <td class="timecell">4:00pm</td>
    <td rowspan="3" colspan="3"></td>
  </tr>
  <tr>
    <td class="timecell">4:30pm</td>
  </tr>
  <tr>
    <td class="timecell">5:00pm</td>
    <td colspan="2"></td>
  </tr>
  </tbody>
</table>
