<hr>
<h2 id="friday">Friday, June 30, 2023</h2>

<table class="schedule">
    <thead>
        <th>&nbsp;</th>
        <th class="room">Promenade</th>
        <th clas="mesa-ballroom">Mesa Ballroom</th>
        <th class="room">Canyon #1</th>
        <th class="room">Canyon #2</th>
        <th class="room">Pecos Boardroom</th>
        <th class="room">Cedar Room</th>
    </thead>
    <tbody>
        <tr>
            <td class="timecell">8:00am</td>
            <td colspan="8"></td>
          </tr>
  <tr>
      <td class="timecell">8:30am</td>
      <td rowspan="4" class="registration">8:30am &ndash; 10:30pm<br><br><strong>Registration</strong></td>
      <td rowspan="17" colspan="2"></td>
      <td></td>
      <td rowspan="17"></td>
      <td rowspan="17" class="staff">Staff</td>
  </tr>
  <tr>
    <td class="timecell">9:00am</td>
    <td rowspan="7" class="session">
        9:00am &ndash; 12:30pm<br><br>
        <strong>Workshop:</strong> Web Archiving and Digital Libraries (WADL) 2023 Morning Session
    </td>
    
  </tr>
  <tr>
    <td class="timecell">9:30am</td>
  </tr>
  <tr>
    <td class="timecell">10:00am</td>
  </tr>
  <tr>
      <td class="timecell">10:30am</td>
      <td rowspan="3"></td>
  </tr>
  <tr>
      <td class="timecell">11:00am</td>
  </tr>
  <tr>
    <td class="timecell">11:30am</td>
  </tr>
  <tr>
    <td class="timecell">12:00pm</td>
    <td rowspan="10"></td>
  </tr>
  <tr>
        <td class="timecell">12:30pm</td>
        <td rowspan="2" class="lunch">12:30pm &ndash; 1:30pm<br><br><strong>LUNCH</strong></td>   
  </tr>
  <tr>
        <td class="timecell">1:00pm</td>
  </tr>
  <tr>
        <td class="timecell">1:30pm</td>
        <td rowspan="7" class="session">
            1:30am &ndash; 5:00pm<br><br>
            <strong>Workshop:</strong> Web Archiving and Digital Libraries (WADL) 2023 Afternoon Session
        </td>
  </tr>
  <tr>
        <td class="timecell">2:00pm</td>
  </tr>
  <tr>
        <td class="timecell">2:30pm</td>
  </tr>
  <tr>
    <td class="timecell">3:00pm</td>
  </tr>
  <tr>
    <td class="timecell">3:30pm</td>
  </tr>
  <tr>
    <td class="timecell">4:00pm</td>
  </tr>
  <tr>
    <td class="timecell">4:30pm</td>
  </tr>
  </tbody>  
</table>