<hr>
    <h2 id="tuesday">Tuesday, June 27, 2023</h2>

    <table class="schedule">
        <thead>
            <th>&nbsp;</th>
            <th class="room">Promenade</th>
            <th clas="mesa-ballroom">Mesa Ballroom</th>
            <th class="canyon-room">Canyon Room</th>
            <th class="room">Pecos Boardroom</th>
        </thead>
        <tbody>
        <tr>
          <td class="timecell">8:00am</td>
          <td rowspan="19" class="registration">8:00am &ndash; 5:30pm<br><br><strong>Registration</strong></td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td class="timecell">8:30am</td>
          <td rowspan="4" class="keynote">8:30am &ndash; 10:30am<br><br><strong>Opening</strong> and <a href="/keynotes/#bruy"><strong>Keynote #1: Oksana Bruy</strong></a></td>
          <td rowspan="4" colspan="2"></td>
        </tr>
        <tr>
          <td class="timecell">9:00am</td>
        </tr>
        <tr>
          <td class="timecell">9:30am</td>
        </tr>
        <tr>
          <td class="timecell">10:00am</td>
        </tr>
        <tr>
          <td class="timecell">10:30am</td>
          <td class="break" colspan="2">10:30am &ndash; 11:00am<br><br>Break</td>
          <td rowspan="19" style="border: 0px;"></td>
        </tr>
        <tr>
            <td class="timecell">11:00am</td>
            <td rowspan="3" class="align-top session">
                11:00am &ndash; 12:30pm<br><br>
                <strong>Session #1: Digital Libraries</strong><br>
                with Chair Alexander C. Nwala<br>
                {% if page.permalink == '/program/schedule/' %}
                {% include session1-papers.html %}
                {% endif %}
            </td>
            <td rowspan="3" class="align-top session">
              11:00am &ndash; 12:30pm<br><br>
              <strong>Session #2: Scientometrics</strong><br>
              with Chair Michele Weigle<br>
              {% if page.permalink == '/program/schedule/' %}
              {% include session2-papers.html %}
              {% endif %}
            </td>
        </tr>
        <tr>
          <td class="timecell">11:30am</td>
        </tr>
        <tr>
          <td class="timecell">12:00pm</td>
        </tr>
        <tr>
          <td class="timecell">12:30pm</td>
          <td class="lunch" rowspan="2" colspan="2">12:30pm &ndash; 1:30pm<br><br><strong>LUNCH</strong></td>
        </tr>
        <tr>
          <td class="timecell">1:00pm</td>
        </tr>
        <tr>
          <td class="timecell">1:30pm</td>
          <td rowspan="3" class="align-top session">
            1:30pm &ndash; 3:00pm<br><br>
            <strong>Session #3: Web Archiving</strong><br>
            with Chair Shawn M. Jones<br>
            {% if page.permalink == '/program/schedule/' %}
            {% include session3-papers.html %}
            {% endif %}
          </td>
          <td rowspan="3" class="align-top session">
            1:30pm &ndash; 3:00pm<br><br>
            <strong>Session #4: Information Retrieval</strong><br>
            with Chair Haiming Liu<br>
            {% if page.permalink == '/program/schedule/' %}
            {% include session4-papers.html %}
            {% endif %}
          </td>

        </tr>
        <tr>
          <td class="timecell">2:00pm</td>
        </tr>
        <tr>
          <td class="timecell">2:30pm</td>
        </tr>
        <tr>
            <td class="timecell">3:00pm</td>
            <td class="break" colspan="2">
                3:00pm &ndash; 3:30pm<br><br>
                Break
            </td>
        </tr>
        <tr>
          <td class="timecell">3:30pm</td>
          <td rowspan="2" class="session">
            3:30pm &ndash; 4:30pm<br><br>
            <strong>Panel: </strong> <em>{% include panel1-title.html %}</em>
            {% if page.permalink == '/program/schedule/' %}
            {% include panel1-speakers.html %}
            {% endif %}
          </td>
          <td style="border: 0px;" rowspan="2"></td>
        </tr>
        <tr>
          <td class="timecell">4:00pm</td>
        </tr>
        <tr>
          <td class="timecell">4:30pm</td>
          <!-- <td colspan="2"></td> -->
          <td rowspan="2" class="session">
            4:30pm &ndash; 5:30pm<br><br>
            <!-- <strong>Minute Madness</strong> -->
            <strong>Poster Session - Minute Madness</strong>
            <td style="border: 0px;"></td>
          </td>
        </tr>
        <!-- <tr>
          <td class="timecell">4:45pm</td>
          <td class="timecell">&nbsp;</td>

          <td rowspan="2" style="border: 0px;"></td>
        </tr> -->
        <tr>
          <td class="timecell">5:00pm</td>
          <td style="border: 0px;"></td>

        </tr>
        <tr>
          <td class="timecell">5:30pm</td>
          <td rowspan="4" colspan="3" class="lunch">
            5:30pm &ndash; 7:30pm<br><br>
            <strong>Reception</strong>
          </td>
        </tr>
        <tr>
            <td class="timecell">6:00pm</td>

        </tr>
        <tr>
          <td class="timecell">6:30pm</td>
        </tr>
        <tr>
          <td class="timecell">7:00pm</td>
        </tr>
        <tr>
          <td class="timecell">7:30pm</td>
          <td colspan="4" style="border: 0px;"></td>
        </tr>
    </tbody>
  </table>
