<style>
    table.schedule {
        width: 100%;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    table.schedule td {
        font-size: 9pt;
        /* border: 1px solid black; */
        /* border-radius: 10px; */
        padding: 5px;
        background-color: lightgrey;
        
    }

    .room {
        width: 11%;
    }

    .mesa-ballroom {
        width: 33%;
    }

    .canyon-room {
        width: 22%;
    }

    th {
        background-color: #efabc5;
        border: 1px solid black;
        text-align: center;
    }

    .timecell {
        width: 11%;
        background-color: white !important;
        border: 1px solid black;
    }

    .registration {
        background-color: #ff9f0b !important;
        width: 11%;
        border: 1px solid black;
    }

    .doctoral-consortium {
        background-color: #66cff7 !important;
        border: 1px solid black;
    }

    .empty {
        background-color: lightgrey;
        border: 0px !important;
    }

    .keynote {
        /* background-color: #ff9f0b; */
        background-color: rgba(6, 12, 34, 0.98) !important;
        color: white;
        border: 1px solid black;
    }

    .session {
        background-color: white !important;
        border: 1px solid black;
    }

    .nobottomborder {
        border-bottom: none !important;
    }

    .notopborder {
        border-top: none !important;
    }

    .lunch {
        background-color: lavender !important;
        border: 1px solid black;
    }

    .nominee {
      color: red;
    }

    .staff {
        background-color: #00e099 !important;
        font-weight: bolder;
        border: 1px solid black;
    }

    .break {
        background-color: #ff9f0b !important;
        border: 1px solid black;
    }


</style>