<ul>
    <li>
        Long Paper: <em>Reading Lists Systems&apos; Pedagogical Features:  A Comparative Analysis</em> by 
        Ppnv Kumara, Annika Hinze, Nicholas Vanderschantz and Claire Timpany
    </li>
    <li><span class="nominee"><i class="bi bi-award"></i>Best Short Paper nominee</span><br>
        Short Paper: <em>A King&apos;s Counsel: A Network(ed) Approach; Digitizing the Privy Council Registers of Henry VIII, 1540-1547</em> by 
        Caitlin Burge
    </li>
    <li>
      Late Breaking/Dataset: <em>Yes but.. Can ChatGPT Identify Entities in Historical Documents?</em> by Carlos-Emiliano González-Gallardo, Emanuela Boros, Nancy Girdhar, Ahmed Hamdi, Jose Moreno and Antoine Doucet
    </li>
    <li>
        Short Paper: <em>FastCat Catalogues: Interactive Entity-based Exploratory Analysis of Archival Documents</em> by 
        Georgios Rinakakis, Kostas Petrakis, Yannis Tzitzikas and Pavlos Fafalios
    </li>
    <li>
        Short Paper: <em>MINE - A Text Analysis Service for Digital Humanities Scientists</em> by 
        Triet Ho Anh Doan, Sven Bingert and Ramin Yahyapour                    
    </li>
</ul>
