<ul>
    <li>
        Long Paper: <em>Enriching Simple Keyword Queries for Domain-Aware Narrative Retrieval</em> by 
        Hermann Kroll, Christin Katharina Kreutz, Pascal Sackhoff and Wolf-Tilo Balke
    </li>
    <li><span class="nominee"><i class="bi bi-award"></i>Vannevar Bush Best Paper Award nominee</span> <br>
        Long Paper: <em>SciKGTeX - A LaTeX Package to Semantically Annotate Contributions in Scientific Publications</em> by 
        Christof Bless, Ildar Baimuratov and Oliver Karras
    </li>
    <li>
        Short Paper: <em>Exploring Multiview Interactive Visualization for Chinese Historical Texts Using Knowledge Aggregation</em> by 
        Chengxi Yan and Shaojian Li
    </li>
  </ul>
