<ul>
    <li><span class="nominee"><i class="bi bi-award"></i>Best Student Paper Award nominee</span><br>
      Long Paper: <em>Bibliometric Data Fusion for Biomedical Information Retrieval</em> by 
      Timo Breuer, Christin Katharina Kreutz, Philipp Schaer and Dirk Tunger
    </li>
    <li><span class="nominee"><i class="bi bi-award"></i>Vannevar Bush Best Paper Award nominee</span><br>
      Long Paper: <em>Toward Connecting Speech Acts and Search Actions in Conversational Search Tasks</em> by 
      Souvick Ghosh, Satanu Ghosh and Chirag Shah
    </li>
    <li>
        Long Paper: <em>Binding Data Narrations &mdash; Corroborating the Plausibility of Scientific Narratives by Open Research Data
        </em> by 
        Denis Nagel, Till Affeldt, Nils Voges, Ulrich Güntzer and Wolf-Tilo Balke
    </li>

</ul>
