<ul>
    <li>
        Long Paper: <em>Evaluating Digital Library Search Systems by using Formal Process Modelling</em> by 
        Christin Katharina Kreutz, Martin Blum, Philipp Schaer, Ralf Schenkel and Benjamin Weyers
    </li>
    <li><span class="nominee"><i class="bi bi-award"></i>Best Student Paper Award nominee</span><br>
        Long Paper: <em>Integrated Digital Library System for Long Documents and their Elements</em> by 
        Satvik Chekuri, Prashant Chandrasekar, Bipasha Banerjee, Sung Hee Park, Nila Masrourisaadat, Aman Ahuja, William Ingram and Edward Fox 
    </li>
    <li>
        Late Breaking/Dataset: <em>SMAuC - The Scientific Multi-Authorship Corpus</em> by 
        Janek Bevendorff, Philipp Sauer, Lukas Gienapp, Wolfgang Kircheis, Erik Körner, Benno Stein and Martin Potthast
    </li>
    <li>
        Short Paper: <em>A Conceptual Framework for the Design of Digital Repository Interfaces Supporting Digital Content Reuse Assessment</em> by 
        Ali Shiri, Liz Woolcott, Ayla S. Kenfield, Santi Thompson, Elizabeth J. Kelly, Joyce Chapman and Derrick Jefferson                
    </li>
</ul>
