<ul>
    <li><span class="nominee"><i class="bi bi-award"></i>Best Student Paper Award nominee</span> <br>
        Long Paper: <em>Making Changes in Webpages Discoverable: A Change-Text Search Interface for Web Archives</em> by 
        Lesley Frew, Michael Nelson and Michele Weigle
    </li>
    <li><span class="nominee"><i class="bi bi-award"></i>Vannevar Bush Best Paper Award nominee</span> <br>
        Long Paper: <em>Right HTML, Wrong JSON: Challenges in Replaying Archived Webpages Built with Client-Side Rendering</em> by 
        Michele Weigle, Michael Nelson, Sawood Alam and Mark Graham
    </li>
    <li>
        Late Breaking/Dataset: <em>TrendMachine: A Temporal Webpage Resilience Portal</em> by 
        Sawood Alam, Kritika Garg, Michele Weigle, Michael Nelson, Mark Graham and Dietrich Ayala
    </li>
    <li>
        Late Breaking/Dataset: <em>End of Term Web Archive Dataset: Longitudinal Web Archive of .GOV and .MIL Domains</em> by 
        Mark Phillips, Kristy Phillips and Sawood Alam
    </li>
    <li> <span class="nominee"><i class="bi bi-award"></i>Best Short Paper nominee</span> <br>               
        Short Paper: <em>Less than 4% of Archived Instagram Account Pages for the Disinformation Dozen are Replayable</em> by 
        Haley Bragg, Himarsha Jayanetti, Michael Nelson and Michele Weigle 
    </li>
</ul>
