<ul>
    <li>
      Late Breaking/Dataset: <em>Mining the History Sections of Wikipedia Articles</em> by 
      Wolfgang Kircheis, Marion Schmidt, Arno Simons, Benno Stein and Martin Potthast
    </li>
    <li>
      Long Paper: <em>Efficient Ultrafine Typing of Named Entities</em> by 
      Alejandro Sierra-Múnera, Jan Westphal and Ralf Krestel                
    </li>
    <li>
      Long Paper: <em>Mining Semantic Relations in Data References to Understand the Roles of Research Data in Academic Literature</em> by 
      Lizhou Fan, Sara Lafia, Morgan Wofford, Andrea Thomer, Elizabeth Yakel and Libby Hemphill
    </li>
    <li>
      Late Breaking/Dataset: <em>Soft-Search: Two Datasets to Study the Identification and Production of Research Software</em> by 
      Eva Maxfield Brown, Lindsey Schwartz, Richard Lewei Huang and Nicholas Weber
    </li>
    <li>
      Short Paper: <em>Extreme Classification for Answer Type Prediction in Question Answering</em> by 
      Vinay Setty
    </li>
    <li>
      Late Breaking: <em>Zero-shot Entailment of Leaderboards for Empirical AI Research</em> by 
      Salomon Kabongo Kabenamualu, Jennifer D'Souza and Sören Auer
    </li>
  </ul>
