<ul>
    <li>
        Long Paper: <em>Deciphering the Reviewer&apos;s Aspectual Perspective: A Joint Multitask Framework for Aspect and Sentiment Extraction from Scholarly Peer Reviews</em> by 
        Hardik Arora, Kartik Shinde and Tirthankar Ghosal
    </li>
    <li>
        Late Breaking/Dataset: <em>CoCon: A Data Set on Combined Contextualized Research Artifact Use</em> by 
        Tarek Saier, Youxiang Dong and Michael Färber
    </li>
    <li>
        Late Breaking/Dataset: <em>CitePrompt: Using Prompts to Identify Citation Intent in Scientific Papers</em> by 
        Avishek Lahiri, Debarshi Kumar Sanyal and Imon Mukherjee
    </li>
    <li>
        Short Paper: <em>Laying foundations to quantify the &quot;Effort of Reproducibility&quot;</em> by 
        Akhil Pandey Akella, Hamed Alhoori and David Koop
    </li>
    <li><span class="nominee"><i class="bi bi-award"></i>Best Short Paper nominee</span> <br>
        Short Paper: <em>MetaEnhance: Metadata Quality Improvement for Electronic Theses and Dissertations of University Libraries</em> by 
        Muntabir Hasan Choudhury, Lamia Salsabil, Himarsha R. Jayanetti, Jian Wu, William A. Ingram and Edward A. Fox 
    </li>
    <li>
      Late Breaking/Dataset: <em>unarXive 2022: All arXiv Publications Pre-Processed for NLP, Including Structured Full-Text and Citation Network</em> by 
      Tarek Saier, Johan Krause and Michael Färber
    </li>
</ul>
