<!DOCTYPE html>
<html lang="en">

    <head>

    {% include head.html %}

    <style>
        #header {
            background: rgba(6, 12, 34, 0.98);
            height: 70px;
        }

        table, tr, td {
            /* border:rgba(6, 12, 34, 0.98) solid 2px; */
            padding: 15px;
        }

        .scrolltoheader {
            padding-top: 70px;
        }

    </style>

    </head>

<body>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include javascripts.html %}

</body>

</html>
